* {
    font-size: 500;
    font-family: 'Arial';
    color: rgb(255, 255, 255)
}

body {
    background: rgb(0, 0, 0);
}

h1,h3,h4,h5 {
    font-family: Varela Round;
    font-weight: bold;
}

#title {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 40px;
    padding-bottom: 20px;
}

#main {
    background: rgb(0, 0, 0);
    padding: 15px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 15px;
    display: inline-block;
    width: 1200px;
    margin-left: 100px;
    margin-right: 100px;
}

.spell {
    font-size: 90%;
    color: rgb(175, 175, 175);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted white;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }