* {
    font-size: 500;
    font-family: 'Arial';
    color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175);
}

body {
    background: rgb(0, 0, 0);
}

h1,h3,h4,h5,a {
    font-family: 'Varela Round';
    font-weight: bold;
}

#title,#end {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2.6666%;
    padding-bottom: 1.36666%;
}

#main {
    background: rgb(0, 0, 0);
    padding: 1%;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 1%;
    display: inline-block;
    width: 85%;
    margin-left: 6.6666%;
    margin-right: 6.6666%;
}

.spell {
    font-size: 90%;
    color: rgb(175, 175, 175);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted white;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 500%;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 4%;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
